body {
    background-color: aliceblue !important;
}

.banner {
    &.banner-sm {
        .display-6 {
            font-size: 1.75rem;
        }
    }
}

// Navigation menu active states
header {
    .nav-link.active {
        font-weight: 600;
        color: #0d6efd !important;
        position: relative;
        
        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #0d6efd;
        }
    }
    
    .dropdown-item.active {
        background-color: #0d6efd;
        color: #fff;
        font-weight: 500;
    }
}